openapi: 3.0.1
info:
  title: URLScan via Logic App
  description: >
    URLScan.io threat analysis routed through an Azure Logic App that handles
    URL submission, polling, retry logic, and result retrieval automatically.
    Submitting a URL triggers a full scan and returns the complete threat verdict,
    page details, and screenshot URL in a single response without any manual retry needed.
  version: "1.0"

servers:
  - url: https://prod-223.westeurope.logic.azure.com:443/workflows/80829c1eeda241cb917839bf917543f1/triggers/manual/paths/invoke

paths:
  /:
    post:
      operationId: ScanURLAndGetResults
      summary: Scan a URL and automatically retrieve full threat results with retry logic
      description: >
        Use this skill to scan any URL and get its complete threat analysis report
        in a single call. Submits the URL to URLScan.io, waits for the scan to complete
        with automatic polling and retry logic, then returns the full verdict, page details,
        IP, ASN, screenshot URL, and threat categories.
        Use when a user asks: "scan this URL and get results", "analyze this URL for threats",
        "is this URL malicious?", "check this link", "scan and report on this URL",
        "run a full urlscan analysis", or "scan URL and fetch results".
      x-ms-skill-description: >
        Submits a URL to URLScan.io and automatically retrieves the full threat analysis
        result with built-in wait and retry logic. Returns verdict, threat score, page info,
        screenshot URL, and risk categories in one response. Use for prompts like:
        scan URL and get results, analyze URL for threats, full urlscan analysis,
        scan and fetch urlscan results, check if URL is malicious.
      parameters:
        - name: api-version
          in: query
          required: false
          schema:
            type: string
            default: "2016-10-01"
        - name: sp
          in: query
          required: false
          schema:
            type: string
            default: "%2Ftriggers%2Fmanual%2Frun"
        - name: sv
          in: query
          required: false
          schema:
            type: string
            default: "1.0"
        - name: sig
          in: query
          required: false
          schema:
            type: string
            default: "fMrtcFYxnNQzd28v2u-ZX1pBOV5Q0LQhJP8Ig7XeWcY"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  description: The full URL to scan including protocol (e.g. https://example.com).
                visibility:
                  type: string
                  enum: [public, unlisted, private]
                  default: public
                  description: Visibility of the scan. Use private for sensitive URLs.
      responses:
        "200":
          description: Full scan result returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicAppScanResponse'
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "408":
          description: Scan timed out after all retries

components:
  schemas:
    LogicAppScanResponse:
      type: object
      properties:
        scan_id:
          type: string
          description: The URLScan UUID for this scan.
        screenshot_url:
          type: string
          description: Direct URL to the PNG screenshot of the scanned page.
        result_url:
          type: string
          description: URL to view the full scan result in the URLScan browser UI.
        scan_data:
          type: object
          properties:
            verdicts:
              type: object
              properties:
                overall:
                  type: object
                  properties:
                    malicious:
                      type: boolean
                      description: Whether the URL was determined to be malicious.
                    score:
                      type: integer
                      description: Overall threat score.
                    categories:
                      type: array
                      items:
                        type: string
                    brands:
                      type: array
                      items:
                        type: string
            page:
              type: object
              properties:
                url:
                  type: string
                domain:
                  type: string
                ip:
                  type: string
                country:
                  type: string
                title:
                  type: string
                asn:
                  type: string
                asnname:
                  type: string
                status:
                  type: string
            task:
              type: object
              properties:
                uuid:
                  type: string
                url:
                  type: string
                time:
                  type: string
                country:
                  type: string
                visibility:
                  type: string
            stats:
              type: object
              properties:
                requests:
                  type: integer
                uniqIPs:
                  type: integer
                uniqCountries:
                  type: integer
